// main.scss

$screenTabletMax: 768px;
$screenMobileMax: 540px;

@charset 'UTF-8';
@import 'base/reset';
@import 'base/base';
@import 'base/icon-font';
@import 'base/typography';
@import 'components/gallery';
@import 'components/events';

body {
    background-color: #111;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}

.logo-icon {
    color: #ccc;
    font-size: 185px;
    margin-right: 50px;
}

.flexed {
    display: flex;
}

.colored-section {
    padding-top: 100px;
    padding-bottom: 100px;

    &.gray-1 {
        background-color: lighten(#111, 1);
    }

    &.gray-2 {
        background-color: lighten(#111, 2);
    }

    &.gray-3 {
        background-color: lighten(#111, 3);
    }

    &.gray-4 {
        background-color: lighten(#111, 4);
    }
}

.content-section {
    padding: 0 80px;
}

.footer {
    padding-bottom: 30px;
    padding: 30px 80px 20px;

    .email {
        line-height: 28px;
    }
}

.social-media {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/**
 * Specific Cases for Tablet and Mobile
 */
@media screen
and (max-width: $screenTabletMax) {

    .logo-icon {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .flexed {
        display: block;
    }

    .content-section {
        padding: 0 50px;
    }
}

@media screen
and (max-width: $screenMobileMax) {

    .colored-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .events {

        .event-content {
            left: 10%;
        }

        .event-date {
            font-size: 14px;
            opacity: 0.9;
        }

        .event-title {
            font-size: 20px;
            line-height: 30px;
        }
    }
}
