// _typography.scss

.main-header {
    font-size: 24px;
    margin-bottom: 28px;

    &.before-text {
        margin-bottom: 22px;
    }
}

.sub-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.paragraph + .paragraph {
    margin-top: 20px;
}

