// _typography.scss

.main-header {
    font-size: 24px;
    margin-bottom: 28px;

    &.before-text {
        margin-bottom: 22px;
    }
}

.sub-header {
    color: #ddd;
    font-size: 20px;
    margin-bottom: 20px;
}

.date {
    font-size: 14px;
}

.paragraph + .paragraph {
    margin-top: 20px;
}

.paragraph + .main-header {
    margin-top: 60px;
}

@media screen
and (max-width: $screenMobileMax) {

    .date {
        display: block;
        float: none;
    }
}

